{% extends 'base.html' %}
{% load static %}
{% block title %}monitor a new repository{% endblock %}

{% block content %}
    <h1>MONITOR A NEW REPOSITORY</h1>
    <form method="post">
        {% csrf_token %}
        <label for="input_repo_remote">Git Link to The Repository</label><br>
        <input type="text" id="input_repo_remote" name="input_repo_remote"><br>
        <label for="input_repo_branch">Branch Name</label><br>
        <input type="text" id="input_repo_branch" name="input_repo_branch"><br><br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}
