<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}elfowl SAST Suite{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" type="text/css">
    <link rel="shortcut icon" href="{% static 'images/favicon_io/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon_io/apple-touch-icon.png' %}" type="image/x-icon">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon_io/favicon-32x32.png' %}" type="image/x-icon">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon_io/favicon-16x16.png' %}" type="image/x-icon">
    <link rel="manifest" href="{% static 'images/favicon_io/site.webmanifest' %}" type="application/manifest+json">
</head>
<body>
    <header>
        <a href="{% url 'index' %}">
            <img class="logo" src="{% static 'images/elfowl-logo.png' %}" alt="elfowl-logo">
        </a>
        <h1>elfowl SAST Suite</h1>
    </header>
    <main>
        <div class="navbox">
            <table>
                <tr>
                    <td><a href="{% url 'index' %}">🏠 HOME</a></td>
                    <td><a href="{% url 'settings' %}">⚙️ SETTINGS</a></td>
                    <td><a href="{% url 'add_repo' %}">➕ ADD REPOSITORY</a></td>
                    <td><a href="{% url 'documentation' %}">📄 DOCUMENTATION</a></td>
                    <td><a href="{% url 'about' %}">ℹ️ ABOUT</a></td>
                    <td><a href="{% url 'contact' %}">✉️ CONTACT</a></td>
                </tr>
            </table>
        </div>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>Robots are coming! 🤖</p>
        <p>Made with ❤️ by d0ntblink &copy; 2024</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
