{% extends 'base.html' %}
{% load static %}
{% block title %}elfowl SAST Suite{% endblock %}

{% block content %}
    {% for repository in repositories %}
        <div>
            <div class="listbox">
                <h2><a href="{% url 'repo_report_nav' repository.magik_hash %}">
                    {{ repository.repo_name }} @ {{ repository.repo_branch }}</a></h2>
                <table>
                    <thead>
                        <tr>
                            <th>Repository Origin</th>
                            <th>Last Synced On</th>
                            <th>Last Synced By</th>
                            <th>Added On</th>
                            <th>Added By</th>
                            <th>Last Commit Message</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ repository.repo_origin }}</td>
                        <td>{{ repository.last_synced_on }}</td>
                        <td>{{ repository.last_synced_by }}</td>
                        <td>{{ repository.added_on }}</td>
                        <td>{{ repository.added_by }}</td>
                        <td>{{ repository.last_commit_msg }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}
{% endblock %}
