<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>elfowl SAST Suite</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>
<body>
    <header>
        <img class="logo" src="{% static 'images/elfowl-logo.png' %}" alt="elfowl-logo">
        <a href="{% url 'index' %}" style="float: right;">Documentation</a>
        <h1>elfowl SAST Suite</h1>
    </header>
    <main>
        {% for file in file_names %}
        <div>
            <a href="{% url 'file_report_nav' magik_hash file %}">{{ file }}</a>
        </div>
        {% endfor %}
        {% for lib in repo_dependencies %}
        <div>
            <a>{{ lib.dependencies_json }}</a>
            <a>{{ lib.dependencies_cve_vuln_found_json }}</a>
        </div>
        {% endfor %}
    </main>
    <footer>
        <p>&copy;2024 d0ntblink</p>
    </footer>
</body>
</html>
